{
  "sources": [
    {
      "name": "Test",
      "comment": "test"
    }
  ],

  "sinks": [
    {
      "name": "Test",
      "comment": "test"
    }
  ],

  "features": [],

  "rules": [
    {
      "name": "Pysa Test",
      "code": 5001,
      "sources": [ "Test" ],
      "sinks": [ "Test" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    }
  ]
}